<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Search Results</title>
</head>
<body>
    <div class="container mt-3">
        <div class="row align-items-center mb-2">
            <h1 class="col">Search Results</h1>
            <a href="/" class="btn btn-warning col-1">Home</a>
        </div>
        <table class="table">
            <thead>
                <th>Job Position</th>
                <th>Company</th>
                <th>Location</th>
                <th>Skills</th>
                <th>Action</th>
            </thead>
            <!-- display list of jobs in bullet points -->
            <tbody>
                {% for job in results %}
                    <tr>
                        <td>
                            <strong>
                                {{ job.job_title }}
                            </strong>
                        </td>
                        <td>
                            {{ job.company }}
                        </td> 
                        <td>
                            {{ job.job_location }}
                        </td>
                        <td>
                            {{ job.job_skills }}
                        </td>
                        <td>
                            <form action="/apply" method="post">
                                <input type="hidden" name="job_title" value="{{ job['job_title'] }}">
                                <input type="hidden" name="link" value="{{ job['job_link'] }}">
                                <input type="hidden" name="company" value="{{ job['company'] }}">
                                <button type="submit" class="btn btn-primary">Apply</button>
                            </form>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if results|length != 0 %}
        <form action="/search" method="post" class="mb-3 text-center">
            <input type="hidden" name="skills" value="{{title_skills}}">
            <input type="hidden" name="city" value="{{city}}">
            <input type="hidden" name="company" value="{{company}}">
            {% if page != 0 %}
                <button type="submit" name="page" value="{{page - 1}}" class="btn btn-secondary">&#8249;</button>
            {% endif %}
            <span class="mx-2">Page {{ page + 1 }} of {{total_pages}}</span>
            {% if results|length == 50 %}
                <button type="submit" name="page" value="{{page + 1}}" class="btn btn-secondary">&#8250;</button>
            {% endif %}
        </form>
        {% else %}
        <div class="text-center">
            <h4>No results!</h4>
        </div>
        {% endif %}

    </div>

</body>
</html>
