<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
</head>
<body>
    <h1>Search Results</h1>
    <!-- display list of jobs in bullet points -->
    <ul>
        {% for job in results %}
            <li>
                <strong>
                    {{ job.job_title }}
                </strong> 
                at {{ job.company }} - {{ job.job_location }}
                <br>
                Skills: {{ job.job_skills }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>